
.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
  
  }
.form-span {
  display: flex; 
  height: 50px;

}  
.item-form-input {
    width: 90%; 
  }
  