
.todo-list {
  width: 100%;
  max-width: 500px;
  padding-left: 0%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.item-list {
  list-style: none;
  display:flex;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
  margin-right: auto;
  margin-left:  auto;
  border-style: solid;
  border-color: rgb(246, 227, 221);
  border-radius: 10px;
}

.item-prop-checbox {
width:10%;
}
.item-prop-text {
  width: 80%;
  padding-left: 10px;
}
.item-prop-edits {
  padding-left: 10px;
  width: 10%;
}

